

*{
    font-family: 'Poiret One', cursive;
}

body:{
    
}

h1,h2,h3{
    font-family: 'Poiret One', cursive;
    
}

h1{
    font-size: 2.2em;
    font-weight: lighter;
    text-transform: capitalize;
}

h2{
    font-weight: lighter;
    font-size: 1.8em;    
}

h3{

}


p{

}

meta{
    font-family: 'Comfortaa', cursive;
}